* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
    background-color: black;
    color: white;
    background-position: center center;
    background-size: cover;
}

body {
    box-sizing: border-box;
}

.info__card {
    display: grid;
    place-items: center;
    gap: 1em;
    padding: 5rem 2rem;
    background-color: rgba(240, 248, 255, 0.089);
    border: 1px solid rgba(255, 255, 255, 0.192);
    border-radius: 10px;
    transform-style: preserve-3d;
}

.info__card>.avatar {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center top;
    transform: translateZ(20px);
}

.info__card>.info__details {
    display: grid;
    place-items: center;
    gap: 0.8em;
    transform: translateZ(20px);
}

section {
    display: grid;
    grid-column: auto;
    place-items: center;
    min-height: 100dvh;
}

.contact__info {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
    margin-top: 20px;
    /* transform: translateZ(20px); */
}

.contact__logos {
    height: 35px;
    width: 35px;
    object-fit: cover;
}

.modes {
    display: grid;
    position: fixed;
    grid-template-columns: 1fr 1fr;
    top: 1.5rem;
    right: 1rem;
    gap: 0.8em;
}

button {
    outline: none;
    border: none;
    padding: 0.6em 1em;
    cursor: pointer;
}

button:hover {
    background-color: rgb(34, 34, 208);
    color: white;
}

.dob {
    position: absolute;
}

.brand {
    z-index: -1;
    height: 8rem;
    position: absolute;
    width: auto;
    opacity: 0;
    transition: all 1s ease-in-out;
    top: 3em;
    z-index: -1;
}

.info__card:hover .brand {
    opacity: 1;
    margin-top: 0px;
    animation: fadeBrand 3s ease-in-out;
    top: 1em;
}

@keyframes fadeBrand {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.main_brand {
    height: 50px;
    width: auto;
    position: fixed;
    top: 0.6rem;
    left: 1rem;
}

#mail {
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

#mail:hover {
    transform: scale(1.3);
}

#google {
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

#google:hover {
    transform: scale(1.3);
}

#linkedin {
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

#linkedin:hover {
    transform: scale(1.3);
}

#call {
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

#call:hover {
    transform: scale(1.3);
}

.indian_bg {
    background: rgb(222,127,13);
    background: linear-gradient(180deg, rgba(222,127,13,0.2369020501138952) 0%, rgba(39,203,52,0.15717539863325736) 55%);
}

.footer{
    position: fixed;
    bottom: 1em;
    opacity: 0.2;
}